.yan-yana{
    list-style: none;
    float: left;
    margin-left: 40px;
}

.baslık {
    margin-left: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2C3333;
}

p {
    color: rgb(57, 91, 100);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 120px;
    margin-right: 70px;
}

/* img {
    margin-left: 30px;
} */

.anasayfa-img {
    margin-left: 120px;
} 

.takim{
    color: #2C3333;
    margin-left: 120px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.liste{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2C3333;
    /* border: black; */
}

.tarihi-p{
    margin-right: 70px;
}

.footer-list{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2C3333;
    list-style: none;
    float: left;
    margin-bottom: 30px;
    margin-left: 40px;
}